body{
    background-color:white;
    }
    imgage{
        background-color: aqua;
        text-align: center;
    }
h1{
    background-color: white;
    color:black;
    text-align: center;
}